.task {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dotted #666;
  height: 5rem;
}

.task__container {
  display: flex;
  justify-content: space-between;
}

.task__container__add {

}

.icon {
  color: #555;
}
